<div class="container mt-5">
    <div class="card p-4 shadow-lg bg-light text-center">
        <h2 class="text-primary">What would you like to do?</h2>
        
        <div class="d-flex flex-column flex-md-row justify-content-center gap-3 mt-4">
            <button class="btn btn-primary px-4 py-2" routerLink="/createProject">
                Create a Project
            </button>
            <button class="btn btn-success px-4 py-2" routerLink="/joinProject">
                Join a Project
            </button>
        </div>
        Want to skip this ?
        <a routerLink="/home">Click here</a>
    </div>
</div>
