.container {
    max-width: 600px;
}

.card {
    border-radius: 15px;
    background-color: #d6e4f0;
}

.error-message {
    color: #b71c1c; /* Dark red */
    background-color: #ffebee; /* Light red */
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}