<div class="container mt-5">
    <div class="card p-4 shadow-lg bg-light">
        <h2 class="text-primary text-center">Join a Project</h2>
        
        <form #joinProjectForm="ngForm" (ngSubmit)="onJoin(joinProjectForm)">
            <!-- Project ID -->
            <div class="mb-3">
                <label for="projectId" class="form-label fw-bold">Project ID:</label>
                <input type="text" 
                class="form-control" 
                id="projectId" 
                placeholder="Enter Project ID"
                required
                name="projectId"
                ngModel
                #projectId="ngModel">
            </div>

            <!-- User Password -->
            <div class="mb-3">
                <label for="userPassword" class="form-label fw-bold">Password:</label>
                <div class="input-group">
                <input [type]="passwordVisible?'text':'password'" 
                class="form-control" 
                id="userPassword" 
                placeholder="Enter your password"
                name="userPassword"
                required
                minlength="8"
                ngModel
                #userPassword="ngModel">
                <span class="input-group-text" (click)="togglePassword()">
                    <i class="fa" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash' "></i>
                </span>
            </div>
            </div>

            <!-- Join Project Button -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary px-4">Join Project</button>
            </div>
        </form>
    </div>
</div>
